.cases {
  background-color: var(--white);
  padding-top: 56px;
  padding-bottom: 40px;
}
.pre_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: var(--grey);
  margin-bottom: 16px;
}
.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.37;
  text-align: center;
  color: var(--grey);
  margin-bottom: 24px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: var(--grey);
  margin-bottom: 31px;
}
@media screen and (min-width: 768px) {
  .cases {
    padding-top: 48px;
  }
  .pre_title {
    font-size: 18px;
    line-height: 1.38;
  }
  .title {
    font-size: 40px;
    line-height: 1.35;
  }
  .text {
    font-size: 18px;
    line-height: 1.38;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1360px) {
  .cases {
    padding-bottom: 62px;
  }
}
