.hero {
  padding-top: 22px;
  padding-bottom: 104px;
  background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../../images/images/home/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tittle {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
  color: var(--white);
  width: 241px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.avter_tittle {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.23;
  text-align: center;
  color: var(--white);
  width: 280px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
