.hero {
  padding-bottom: 104px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/images/home/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tittle {
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
  color: var(--white);
  width: 241px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 160px;
}
.avter_tittle {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.23;
  text-align: center;
  color: var(--white);
  width: 280px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.hero_btn{
  width: 9px;
  height: 18px;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 378px;
  }
  .tittle {
    font-size: 55px;
    line-height: 1.36;
    width: 533px;
    margin-bottom: 16px;
    padding-top: 378px;
  }
  .avter_tittle {
    font-size: 40px;
    line-height: 1.2;
    width: 523px;
  }
}
@media screen and (min-width: 1360px) {
  .hero {
    padding-bottom: 270px;
  }
  .tittle{
    padding-top: 272px;
  }
  .avter_tittle {
    font-size: 40px;
    line-height: 1.35;
    width: 800px;
  }
}
