.logo {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.logo:hover {
  transform: scale(1.05);
  text-shadow: 0 0 20px var(--white);
}
.img {
  width: 39px;
  height: 35px;
  background-color: transparent;
  margin-right: 8px;
}
.finance {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.35;
  color: var(--green);
}
.leader {
  color: var(--white);
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .Logo {
    margin-bottom: 314px;
  }
  .finance {
    font-size: 35px;
    line-height: 1.37;
  }
  .img {
    margin-right: 9px;
  }
  .leader {
    margin-left: 0;
  }
}
@media screen and (min-width: 1360px) {
  .Logo {
    margin-bottom: 192px;
  }
  .finance {
    font-size: 35px;
    line-height: 1.37;
  }
  .img {
    margin-right: 4px;
  }
  .leader {
    margin-left: 0;
  }
}