.team {
  background-color: var(--white);
  color: var(--grey);
  text-align: center;
  padding-bottom: 20px;
}
.team_pre_list {
  padding-top: 72px;
  padding-bottom: 63px;
}
.pre_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  margin-bottom: 16px;
}
.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.37;
  margin-bottom: 24px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
.img {
  margin-bottom: 16px;
}
.team_title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  margin-bottom: 8px;
}
.team_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  margin-bottom: 30px;
}
.overlay:hover {
  opacity: 1;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  background-color: rgba(4, 4, 4, 0.6);
  opacity: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 40px;
  }
  .team_pre_list {
    padding-top: 50px;
    padding-bottom: 24px;
  }
  .pre_title {
    font-size: 20px;
    line-height: 1.65;
  }
  .title {
    font-size: 40px;
    line-height: 1.35;
  }
  .text {
    font-size: 18px;
    line-height: 1.38;
    width: 641px;
  }
  .team_list {
    display: flex;
    justify-content: space-between;
  }
  .img {
    width: 223px;
    height: 148px;
  }
  .team_title {
    font-size: 32px;
    line-height: 1;
  }
  .team_text {
    font-size: 18px;
    line-height: 1.38;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1360px) {
  .team {
    padding-bottom: 88px;
  }
  .team_pre_list {
    padding-top: 80px;
    padding-bottom: 36px;
  }
  .img {
    width: 421px;
    height: 287px;
  }
}
