.header {
  position: fixed;
  top: 32px;
  z-index: 5;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.list{
  position: fixed;
  top: 32px;
  z-index: 5;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.active {
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}
