.header {
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100%;
}
.list {
  padding-top: 32px;
  padding-bottom: 15px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.active {
  background-color: rgba(0, 0, 0, 0.8);
}
