.photo {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .photo {
    width: 223px;
    height: 148px;
    margin-bottom: 18px;
    margin-right: 11px;
  }
}
@media screen and (min-width: 1360px){
  .photo {
    width: 421px;
    height: 282px;
  }
}