.nav {
  display: flex;
  justify-content: center;
}
.List {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.Item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.37;
}
.Item:hover {
  border-bottom: 2px solid var(--green);
}

@media screen and (min-width: 768px) {
  .List {
    gap: 20px;
  }
  .Item {
    font-size: 18px;
    line-height: 1.38;
  }
}

@media screen and (min-width: 1360px) {
  .List {
    gap: 40px;
  }
  .nav {
    margin-left: 552px;
  }
}
